<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block %}

<div class="jumbotron">
    {% if registered %}
        <h1>Thank you for registering!</h1>

    {% else %}
        <h1>Register Here!</h1>
        <h3>Fill out the form:</h3>

        <form action="" method="POST" enctype="multipart/form-data"> <!--Encytype=... clarifies how the data should be hashed (codiert) when being sent to the server, only occurs with POST method, we need it as we use multimedia data (image file that we upload)-->
            {% csrf_token %}
            {{ user_form.as_p }} <!--This user_form will be defined within the context dictionary of views!!!-->
            {{ profile_form.as_p }}   <!--This profile_form will be defined within the context dictionary of views!!!-->
            <input type="submit" name="" value="Register">
        </form>

    {% endif %}


</div>


{% endblock %}